<!DOCTYPE html>
<html>
<head>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/style.css" rel="stylesheet">
    <link href="../../resources/css/jquery-ui.custom.min.css" rel="stylesheet">
    <title></title>
    <meta charset="utf-8">
</head>
<body>

<div class="container">
    <div class="row header">
        <div class="col-md-12">header section</div>
    </div>
    <div class="row fill">
        <div class="col-md-3 right-column">
            Ресурсы проекта
            <div>
                <span class="glyphicon glyphicon-folder-close"> test</span>
                <div class="inner">
                    <p>aaaaaaaaaaa</p>
                    <p>bbbbbbbbbbb</p>
                    <p>ccccccccccc</p>
                </div>
            </div>
            <div>
                <span class="glyphicon glyphicon-folder-close"> test2</span>
                <div class="inner">
                    <p>aaaaaaaaaaa</p>
                    <p>bbbbbbbbbbb</p>
                    <p>ccccccccccc</p>
                </div>
            </div>


        </div>
        <div id="center-column" class="col-md-6 center-column">Рабочее окно</div>
        <div class="col-md-3 left-column">
            <div class="processes">Библиотека процессов
                <div id="process" class="process">
                    Процесс 1
                </div>
            </div>
            <div class="properties">Свойства объекта</div>
        </div>
    </div>
</div>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/jquery.min.js"></script>
<script src="../../resources/js/right-bar.js"></script>
<script src="../../resources/js/jquery-ui.custom.js"></script>
</body>
</html>